.ryan-image {
    max-width: 25%;
    max-height: 25%;
    height: auto;
    width: auto;  
    border-style: solid;
    border-width: 3px;
    display: inline;
}

body {
    background-color: whitesmoke;
}

.paper {
    margin: auto;
    width: 90%;
    background-color: white;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    padding: 15px;
    margin: 25px;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

li, p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
    pargin: 25px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

nav ul li, footer ul li {
    display: inline;
    margin: 10px;
}

 #thumbnail {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
